<head>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>

<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>

<div id="editor"></div>
<button class="bg-lime-500 text-white px-4 py-2 rounded" hx-get="/save" hx-target="#preview" hx-swap="innerHTML">Gem</button>


<script>
    const Editor = toastui.Editor;
const editor = new Editor({
  el: document.querySelector('#editor')
});
</script>