# Anonymized test data - generated by anonymize_fl_api_data.py
interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://foreninglet.dk/api/members?version=1
  response:
    body:
      string: '[{"MemberId": 699471, "MemberNumber": 43691, "MemberCode": "!BAxy*b&7M",
        "FirstName": "Jonas", "LastName": "Eriksen", "Address": "Maribogade 87", "Address2":
        "", "Zip": "4410", "City": "H\u00f8jer", "CountryCode": "DK", "Email": "elind@example.org",
        "Birthday": "1948-07-08", "Gender": "M", "Phone": "28 36 55 99", "Mobile":
        "53 12 08 82", "EnrollmentDate": "1953-08-05", "DeliveryMethod": "Email/Dankort
        & udlandskort", "PbsAgreementNumber": "0", "Note": "Retf\u00e6rdig indsigt
        modtage underskud deltage kage.", "Password": "BWo5NvPf&2", "Saldo": 750,
        "SaldoPaymentDeadline": 0, "Created": "2008-05-05", "Updated": "1926-05-15",
        "Property": "", "GenuineMember": 1, "Image": 0, "ReceiveNewsletter": 0, "MemberField1":
        0, "MemberField2": "ja", "MemberField3": 891, "MemberField4": "", "MemberField5":
        "", "MemberField6": "", "MemberField7": "", "MemberField8": "", "MemberField9":
        "", "MemberField10": "", "MemberField11": "", "MemberField12": "", "MemberField13":
        "", "MemberField14": "", "MemberField15": "", "MemberField16": "", "MemberField17":
        "", "MemberField18": "", "MemberField19": "", "MemberField20": "", "MemberField21":
        "", "MemberField22": "", "MemberField23": "", "MemberField24": "", "MemberField25":
        "", "MemberField26": "", "MemberField27": "", "MemberField28": "", "MemberField29":
        "", "MemberField30": "", "ConsentField1": "ja", "ConsentField2": "nej", "ConsentField3":
        "", "ConsentField4": "", "ConsentField5": "", "Activities": "44747,40292,48103,46180,40903,44207,44116,41465,44738",
        "activity_ids": [44747, 40292, 48103, 46180, 40903, 44207, 44116, 41465, 44738]},
        {"MemberId": 540609, "MemberNumber": 37856, "MemberCode": "xD*0M9uaU_", "FirstName":
        "Tina", "LastName": "Dahl", "Address": "Gunhildsgade 9", "Address2": "", "Zip":
        "6624", "City": "Stenderup", "CountryCode": "DK", "Email": "kristiansensorine@example.com",
        "Birthday": "1967-03-30", "Gender": "K", "Phone": "79 12 85 71", "Mobile":
        "6984 5459", "EnrollmentDate": "2020-08-29", "DeliveryMethod"[...]
