<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lejre Fitness - Dit fintesscenter i lokalområdet</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <!-- For focusing elements in the dropdown menu -->
  <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.13.10/dist/cdn.min.js"></script>
  <script src="https://unpkg.com/alpinejs" defer></script>
  <script>
  (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
    key: "{{ google_maps_api_key }}",
    v: "weekly",
    // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
    // Add other bootstrap parameters as needed, using camel case.
  });
</script>
<script src="/static/js/maps.js"></script>
    
  <link rel="stylesheet" href="/static/css/maps.css"/>
  
  <script>
    tailwind.config = {
      module:
        exports = {
          content: [
            "./templates/**/*.html",
            // There are some Tailwind classes embedded in the Markdown extension.
            "./lfweb/pages/tailwind.py",
          ],
        }
    }
  </script>
</head>

<body>
  {% block content %}{% endblock content %}
</body>

</html>