<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
  <script lang="javascript">
    $(document).ready(function () {
      $('.toast').toast('show');
    });</script>
  <script lang="javascript">
    div#loading {
      width: 35px;
      height: 35px;
      display: none;
      background: url(/static/loadingimage.gif) no - repeat;
      cursor: wait;
    }
  </script>
  <script type="text/javascript">// <![CDATA[
    function loading() {
      $("#loading").show();
      $("#content").hide();
    }
  // ]]></script>

  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='radio-buttons-colored.css') }}"> -->
  <title>Lejre Fitness - Dit fintesscenter i lokalområdet</title>
</head>

<body>
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->

  {% include 'navbar.html' %}
  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% block content %}{% endblock %}
  </section>
</body>

</html>