{% extends 'base.html' %}

{% block content %}
<h1>{% block title %}{% endblock %}</h1>
<div class="container py-3">
    <!--
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">

            <div class="carousel-item active">
                <img src="/static/images/yoga.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    Som en del af medlemskabet i Lejre Fitness indg&aacute;r holdtr&aelig;ning. Det skal dermed ikke
                    betales ekstra for det.
                    Herunder er en liste over de hold der er på nuværende tidspunkt.
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/images/circletraining.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    Som en del af medlemskabet i Lejre Fitness indg&aacute;r holdtr&aelig;ning. Det skal dermed ikke
                    betales ekstra for det.
                    Herunder er en liste over de hold der er på nuværende tidspunkt.
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden"></span>
        </button>
    </div> -->
    {% include 'membership_tw.html' %}



</div>

{% endblock content %}