{% extends 'base.html' %}

{% block content %}
<h1>{% block title %}{% endblock %}</h1>

<div class="border-5 border-lime-300">
    <div class="grow">
        {% include 'navbar_tw_test.html' %}
    </div>
    <div class="flex w-full items-start">
        <!-- Left side: Doorcount -->
        <div class="p-2"> 
            <div id="doorcount-loading-indicator" class="text-center htmx-indicator">
                <div class="spinner"></div>
            </div>
            <div id="doorcount" hx-swap="innerHTML" hx-get="/doorcount" hx-trigger="load, every 60s" hx-indicator="#doorcount-loading-indicator">
                <!-- <div hx-get="/doorcount" hx-swap="innerHTML" hx-trigger="load"></div> -->
            </div>
        </div>

        <!-- Center: Memberships -->
        <div class="flex-1 px-4" hx-get="/memberships" hx-swap="innerHTML" hx-trigger="load">
            
        </div>

        <!-- Right side: Member counts -->
        <div class="p-2" hx-get="/membercount" hx-swap="innerHTML" hx-trigger="load"></div>
    </div>
    {% endblock content %}