<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        Medlemskaber
                    </h5>
                    <p class="card-text">
                        Alle medlemskaber giver adgang til:
                    <ul>
                        <li>fitnesscenteret fra 04:00 - 23:00</li>
                        <li>holdtræning</li>
                        <li>individuel programlægning</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col ">
            <div class="card">
                <img src="/static/images/8-IzuN1UPLTOp7WCn.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">3 måneders medlemskab</h5>
                    <p class="card-text">
                    <h4>billigt</h4>
                    <ul>
                        <li>Betaling hver 3. måned</li>
                        <li>133,33/mnd</li>
                    </ul>

                </div>
                <div class="card-footer">
                    <button type="button" class="align-self-end btn btn-lg btn-block btn-primary"
                        style="margin-top: auto;">Meld dig ind</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="https://3196.foreninglet.dk/memberportal/subscribe/index/45050"><img
                        src="/static/images/8-NHiC5Lkud0YJ5ZC.png" class="card-img-top"
                        alt="6 måneders medlemskab - billede af ældre mand der træner, lavet med hotpot.ai/art-generator "></a>

                <div class="card-body">
                    <h5 class="card-title">6 måneders medlemskab</h5>
                    <p class="card-text">
                    <h4>billigere</h4>
                    <ul>
                        <li>Betaling hvert halve år</li>
                        <li>125,-/mnd</li>
                    </ul>
                    </p>

                </div>
                <div class="card-footer">
                    <button type="button" class="align-self-end btn btn-lg btn-block btn-primary"
                        style="margin-top: auto;">Meld dig ind</button>
                </div>
            </div>
        </div>

        <div class="col ">
            <div class="card">
                <img src="/static/images/8-SR0xpczjPqpl7Xy.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Årsmedlemskab</h5>
                    <p class="card-text">
                    <h4>billigst</h4>
                    <ul>
                        <li>kr. 1250,- </li>
                        <li>104,16/mnd.</li>
                    </ul>
                    </p>

                </div>
                <div class="card-footer">
                    <button type="button" class="align-self-end btn btn-lg btn-block btn-primary"
                        style="margin-top: auto;">Meld dig ind</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <blockquote class="blockquote">
                <small>Billeder fra <a href="hotpot.ai/art-generator"><cite
                            title="Source Title"></cite>hotpot.ai/art-generator</cite></a></small>
            </blockquote>
        </div>
    </div>
</div>