{% extends 'base.html' %}

{% block content %}
<div>
    <div>
        {% include 'navbar_tw_test.html' %}
    </div>
    <div class="flex grid-cols-3">
        <div> <iframe name="Antal medlemmer i bygningen"
                src="https://www.foreninglet.dk/main/inbuildingcount/3196/f18e67" frameborder="0" scrolling="auto"
                width="200" height="300" marginwidth="5" marginheight="5" allowtransparency="true"> </iframe> </div>
        <div>
            {{ page_content|safe }}
        </div>
        <div class="text-center p-2 m-4">
            <div class="border-2 rounded-md border-lime-300">
                Antal medlemmer: <br>
                <div class="text-3xl text-lime-700 bold p-2">{{ memberdata.members.genuine_member_count }}
                </div>
            </div>
            <div class="border-2 rounded-md border-lime-300 p-2">
                Nye medlemmer i denne måned: <br>
                <div class="text-3xl text-lime-700 bold">{{ memberdata.members.new_members_current_month }}
                </div>
            </div>
        </div>
    </div>



    {% endblock content %}